.SummaryFileDisplay {
    width: 400px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.SummaryFileDisplay__title {
    margin-bottom: 20px;
    font-weight: 600;
}

.SummaryFileDisplay__img--container {
    width: 100%;
    min-height: 350px;
}

.SummaryFileDisplay__img {
    width: 100%;
}

.SummaryFileDisplay__extracted--text {
    font-size: 14px;
    padding: 20px;
    color: #333333;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: justify;
}