.SummaryFileDisplay {
    width: 700px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.SummaryFileDisplay__title {
    margin-bottom: 20px;
    font-weight: 600;
}

.SummaryFileDisplay__img--container {
    width: 100%;
    min-height: 350px;
    margin-bottom: 100px;
}

.SummaryFileDisplay__pdfFile {
    width: 100%;
    height: 500px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(234, 234, 234);
}

.SummaryFileDisplay__extracted--text--title {
    font-weight: bold;
}

.SummaryFileDisplay__extracted--text {
    font-size: 14px;
    padding: 20px;
    color: #333333;
}